.footer-ul {
  max-width: 1920px;
  height: 420px;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgb(121, 61, 1);
  color: aliceblue;
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin-top: 5%;
}

.text-head{
 
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 3%;
}

.text-head-sub{
  font-size: 20px;
  font-weight: bold;
}

.text-sublink{
  margin-top: 14%;
  font-size: 14px;
  font-weight: 600;
  color: aliceblue;
}